// Variables
$rqb-spacing: 0.5rem !default;
$rqb-background-color: rgba(24, 144, 255, 0.2) !default;
$rqb-border-color: rgb(24, 144, 255) !default;
$rqb-border-style: solid !default;
$rqb-border-radius: 4px !default;
$rqb-border-width: 1px !default;

// Default styles
.ruleGroup {
  display: flex;
  flex-direction: column;
  row-gap: $rqb-spacing;
  padding: $rqb-spacing;
  border-color: $rqb-border-color;
  border-style: $rqb-border-style;
  border-radius: $rqb-border-radius;
  border-width: $rqb-border-width;
  background: $rqb-background-color;

  .ruleGroup-body {
    display: flex;
    row-gap: $rqb-spacing;

    &:empty {
      display: none;
    }
    .ruleGroup-combinators-wrapper {
      display: flex;
      align-items: center;
      transform: translateX(50%);
      border-left: solid 1px $rqb-border-color;
      height: 100%;
      margin-right: 6px;
      .ruleGroup-combinators {
        transform: translateX(-50%);
      }
    }
  }

  .ruleGroup-header,
  .rule {
    display: flex;
    column-gap: $rqb-spacing;
    align-items: center;
  }
}
